div#cardIconHeader {
    flex: 0 0 auto;
    width: auto;
}
div#cardIconHeader {
    background: var(--red-portal-exito);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    transition: all .5s;
    cursor: pointer;
}

div#cardIconHeader svg {
    color: white;
}
