
.container.list > div {
    flex: 0 0 calc(calc(100% / 4) - 1rem);
    width: calc(calc(100% / 4) - 1rem);
}

.container.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0px;
}
.container.carousel {
    position: relative;
    display: flex;
}
.container.carousel .slick-slider {
    flex: 0 0 100%;
    width: 100%;
}