header .container-menu button {
    display: flex;
    padding: 0.7rem 0.7rem;
    border-radius: 16px;
    transition: all .3s;
    align-content: center;
    align-items: center;
    border: none;
    outline: 0;
    flex: 0 0 auto;
    width: auto;
    background: white;
}
header .container-menu button:hover{
    background: rgb(0 0 0 / 10%);
}
header .container-menu button i {
    color: #545454;
    font-size: 1.8rem;
    line-height: .5;
}
header .container-menu button span {
    color: #545454;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    margin: 0px 4px;
}
nav#menu {
    position: absolute;
    width: auto;
    background: white;
    z-index: 9;
    border-radius: 8px;
    box-shadow: 0px 11px 34px 0px rgb(52 99 188 / 19%);
    padding: 10px 0px;
}
nav#menu ul {
    padding: 0px;
    margin: 0px;
}
nav#menu ul li {
    width: 100%;
    display: flex;
    min-width: 200px;
}
nav#menu ul li a {
    border-radius: 0px;
    padding: 0.5rem;
    transition: all .3s;
    width: 100%;
    display: flex;
    flex: 0 0 100%;
    border-radius: 0px;
    margin: 2px 0px;
    align-content: center;
    align-items: center;
    text-decoration: none;
}
nav#menu ul li a:hover {
    background: var(--red-portal-exito) !important;
}
nav#menu ul li a i {
    color: #545454;
    font-size: 2rem;
    line-height: .7;
    display: flex;
    padding: 0rem 0.4rem 0rem 0.2rem;
    transition: all .3s;
    width: 40px;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0px;
}
nav#menu ul li a:hover i{
    color: white;
}
nav#menu ul li a span {
    color: #545454;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    display: block;
    line-height: 1;
    transition: all .3s;
    margin: 0px;
}
nav#menu ul li a:hover span{
    color: white;
}