nav#menu {
    width: auto;
    display: flex;
}

nav#menu ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}



nav#menu ul li a {
    text-decoration: none;
    color: var(--red-portal-exito-texto);
    font-weight: 500;
    padding: 20px 15px;
    display: block;
}

nav#menu ul li a span {
    font-size: .9rem;
}
nav#menu  ul.navSubMenu {
    flex-direction: column;
    padding: 10px;
    background: rgb(255, 255, 255);
    margin-top: 11px;
    box-shadow: 0px 11px 34px 0px rgb(52 99 188 / 19%);
    min-width: 160px;
    position: absolute;
    z-index: 1;
    margin-top: -10px;
    display: none;
}

nav#menu ul li ul li a{
    padding: 10px 10px 10px 10px;
}

nav#menu ul li svg.fa-angle-down {
    font-size: 12px;
    margin-left: 6px;
}
nav#menu ul li.sub-menu:hover ul.navSubMenu {
    display: block;
}
nav#menu ul li a ul li a {
    color: var(--red-portal-exito-texto);
}
nav#menu > ul > li:hover > a, nav#menu ul li ul li:hover > a{
    background: var(--red-portal-exito);
    transition: all .5s;
}
nav#menu > ul > li:hover > a, nav#menu ul li ul li:hover > a{
    color: white;
}
