header {
    background: #fff;
    position: relative;
    top: initial;
    box-shadow: 0px 11px 34px 0px rgb(52 99 188 / 19%);
}
header > .row{
    max-width: 1300px;
    margin: 0px auto;
    padding: 10px 36px;
    transition: all .3s;
}
header > .row .container-logo {
    flex: 0 0 7rem;
    padding: 0px;
}
header > .row > .container-menu {
    flex: 0 0 calc(100% - 8rem);
    margin: 0px;
    padding: 0px;
    padding-left: 1rem;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header > .row > .container-menu > .row {
    margin: 0px;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    align-content: center;
}
