footer#footer {
    padding-top: 60px;
    padding-bottom: 10px;
    background: url('../../../public/img/bg-footer.png') no-repeat center top;
    background-size: cover;
    margin-top: 50px;
}
footer#footer #logo {
    width: 100%;
    max-width: 200px;
}
footer#footer .copyright {
    padding: 10px 0px;
    border-top: 2px solid #b7730e;
    text-align: center;
    color: white;
    margin-top: 20px;
}
