.content-error {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 120px);
    position: absolute;
    left: 0px;
    top: 120px;
}
.content-error a {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1rem;
    padding: 9px 21px;
    border-radius: 8px;
    outline: 0;
    display: inline-block;
    background: var(--red-portal-exito);
    width: auto;
    margin: 0px auto;
    position: relative;
    color: white;
    text-decoration: none;
}