:root {
  --red-portal-exito: #ff7043;
  --red-portal-exito-hover: #ea5c30;
  --red-portal-exito-secundario: #86bc42;
  --red-portal-exito-secundario-hover: #699632;
  --red-portal-exito-texto: #545454;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800&display=swap');

.contenedor-page {
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px;
}
.titulos {
  color: var(--red-portal-exito);
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 800;
  margin: 2rem auto;
  padding: 0px;
  text-align: center;
}
.descripcion {
  color: var(--red-portal-exito-texto);
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 0px;
  padding: 0px;
}
h1, h2, h3, h4, h5, h6, p, span, strong {
  font-family: "Raleway", Helvetica, sans-serif;
}

